@import 'src/styles/colors.scss';

.logo {
    float: left;
    display: flex;
    justify-content: center;
    margin-left: 11px;
    padding: 16px;

    img {
        width: auto;
        height: 21px;
        z-index: 9999;
    }
}
