@import 'src/styles/colors.scss';
@import 'react-slideshow-image/dist/styles.css';

.picture {
    text-align: left;
    min-height: 30vh;
    width: 100%;

    img {
        display: block;
        margin: auto;
    }

    svg {
        display: block;
        margin: auto;
        width: 100%;
        min-height: inherit;
    }

    svg:not(:root) {
        width: 100%;
        height: auto;
    }
}

.inlinePicture {
    height: 10em;
    position: relative;
    img {
        max-height: 10em;
        max-width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.theme-main-1 {
    background-color: $main1_1;

    h4 {
        font-size: 36px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .buttonclass {
        text-align: center;
    }
}

.theme-main-2 {
    background-color: $white;
}

.theme-main-3 {
    background-color: $main2_3;
    color: $font_light;

    h1 {
        color: $font_light;
    }
}

.theme-main-4 {
    background-color: $main4_1;
}

.theme-main-5 {
    background-color: $main3_6;
}

.MuiContainer-root {
    min-height: inherit;
    box-sizing: inherit;
    max-height: 100%;
}
.container-section {
    padding: 31px 23px;
    .MuiGrid-container {
        min-height: inherit;
    }

    @media (min-width: 1023px) {
        padding: 31px 81px;
        min-height: 60vh;
    }
    @media (min-width: 1439px) {
        padding: 31px 140px;
        min-height: 70vh;
    }
}
