@import 'src/styles/colors.scss';

.highlight {
    display: flex;
    z-index: 9999;
    color: $main1_3;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

.inverted {
    color: $font_light;
}
