/* Global definitions
Definition of all global sizings of karmakurier branding. Put all definitions here and use variables.
*/

$header-height: 63px;

$footer-height-sm: 249px;
$footer-height-md: 365px;
