@import 'styles/colors.scss';
@import 'styles/globals.scss';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

footer {
    grid-area: bottom;
    height: $footer-height-sm;

    @media (min-width: 576px) {
        height: $footer-height-sm;
    }

    @media (min-width: 768px) {
        height: $footer-height-md;
    }

    align-self: stretch;
    justify-self: stretch;

    color: $font_light;
    background-color: $main1_3;

    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: $font_light;
        text-decoration: none;
        font-size: 14px;

        transition: color 300ms linear;

        &:hover {
            color: $papaya;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .smallprint {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .legal {
            a {
                padding: 0 10px;
            }
        }
    }
}
