@import 'src/styles/colors.scss';
@import 'src/styles/globals.scss';

footer {
    padding: 27px 18px;

    @media (min-width: 1023px) {
        padding: 27px 80px;
        padding-top: 115px;
    }
    @media (min-width: 1439px) {
        padding: 27px 140px;
        padding-top: 115px;
    }

    h5 {
        font-size: 1.125em;
        font-weight: 600;
        font-style: normal;
        line-height: 1.125em;
        margin: 0;
        padding: 0;
    }
    grid-area: bottom;
    height: $footer-height-sm;

    @media (min-width: 576px) {
        height: $footer-height-sm;
    }

    @media (min-width: 768px) {
        height: $footer-height-md;
    }

    align-self: stretch;
    justify-self: stretch;

    color: $font_light;
    background-color: $main1_3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-list {
        list-style-type: none;
        margin: 0.625em 0;
        padding: 0;
        font-size: 0.875em;

        li {
            line-height: 1.0625em;
            text-indent: 0;
        }
    }

    a {
        color: $font_light;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;

        transition: color 300ms linear;

        &:hover {
            color: $font_light;
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .smallprint {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .legal {
            a {
                padding: 0 10px;
            }
        }
    }
}
