@import 'src/styles/colors.scss';

.headPicture {
    background-color: $main1_1;

    svg {
        display: block;
        margin: auto;
        width: 100%;
        min-height: inherit;
    }
}

.contactForm {
    background-color: $main1_1;
}
