@import 'src/styles/fonts.scss';
@import 'src/styles/colors.scss';

.inputclass {
    .MuiFormLabel-root {
        color: $font_black;
        font-family: 'Quicksand', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .MuiFormLabel-root.Mui-focused,
    &.MuiFormLabel-filled label {
        color: $main1_3;
    }

    .MuiOutlinedInput-root {
        border-radius: 0.375em;
        background-color: $white;
        fieldset {
            border-color: $main1_3;
        }
    }

    .MuiOutlinedInput-root.Mui-focused {
        fieldset {
            border-color: $main1_3;
        }
    }
}
